# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories (vendor/)
vendor/

# Go module files
go.sum

dist/
enterprise-proxy-software